:root{
  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;
  --very-dark-blue: #4c4e61;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #fafafa;
}

*{
  box-sizing: border-box;
}

body{
  padding: 0;
  background-color: var(--very-light-gray);
  font-family: 'Poppins', sans-serif;
  min-height: max(100vh, 1360px);
  position: relative;
}

@media screen and (min-width: 850px){
  body{
    min-height: max(100vh, 922  px);
  }
}

@media screen and (min-width: 1000px){
  body{
    min-height: 100vh;
  }
}

.header{
  text-align: center;
  width: 311px;
  margin: 80px auto 78px;
}

@media screen and (min-width: 600px){
  .header{
    width: 510px;
    margin: 97px auto 65px;
  }
}

.header__title{
  font-weight: 200;
  color: var(--very-dark-blue);
  font-size: 1.599rem;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px){
  .header__title{
    font-size: 2.3rem;
  }
}

.header__subtitle{
  font-weight: 600;
  color: var(--very-dark-blue);
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px){
  .header__subtitle{
    font-size: 2.3rem;
    position: relative;
    top: -5px;
  }
}

.header__information{
  font-weight: 400;
  color: var(--grayish-blue);
  font-size: 0.95rem;
  padding: 0;
  margin: 15px 0 0 0;
}

.main{
  display: grid;
  justify-content: center;
  row-gap: 25px;
}

@media screen and (min-width: 850px){
  .main{
    grid-template-columns: 350px 350px;
    grid-template-rows: 250px 250px;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px){
  .main{
    grid-template-columns: repeat(3, 350px);
    align-items: center;
  }
}

.card{
  width: 311px;
  height: 222px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 14px 14px 2px #4c4e612c;
  padding: 27px 28px 28px 30px;
}

@media screen and (min-width: 400px){
  .card{
    width: 350px;
    height: 250px;
    padding: 32px;
  }
}

@media screen and (min-width: 1200px){
  .card:nth-child(1){
    grid-row: 1 / 2;
    grid-column-start: 1;
    margin-top: 265px;
  }
  .card:nth-child(2){
    grid-column-start: 2;
  }
  .card:nth-child(3){
    grid-column-start: 2;
  }
  .card:nth-child(4){
    grid-row: 1 / 2;
    grid-column-start: 3;
    margin-top: 265px;
  }
}

.card::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.card:nth-child(1)::before{
  background-color: var(--cyan);
}

.card:nth-child(2)::before{
  background-color: var(--red);
}

.card:nth-child(3)::before{
  background-color: var(--orange);
}

.card:nth-child(4)::before{
  background-color: var(--blue);
}

.card__title{
  font-weight: 600;
  color: var(--very-dark-blue);
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.card__information{
  font-weight: 400;
  color: var(--grayish-blue);
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 0;
  margin: 2px 0 0 0;
}

@media screen and (min-width: 400px){
  .card__information{
    margin: 6px 0 0 0;
  }
}

.card__image{
  width: 57px;
  height: 57px;
  position: absolute;
  bottom: 28px;
  right: 28px;
}

@media screen and (min-width: 400px){
  .card__image{
    width: 64px;
    height: 64px;
    bottom: 32px;
    right: 32px;
  }
}

footer{
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 0.8rem;
  line-height: 0;
  margin: 0;
  padding: 0;
}